.showings-listing-filters {
    flex: 0.25;
    text-align:center;
}

.showings-listing-filters-form {
    border: 1px solid black;
    background-color: darkslategray;
    color: white;
    border-radius: 8%;
    padding: 12%;
    width: fit-content;
    height: fit-content;
}

.showings-listing-filters-form button {
    margin-top: 5%;
    margin-bottom: 10%;
}

.filter-header {
    font-size: 260%;
    text-align: left;
    justify-content: center;
}