.detailed-listings-header {
    text-align: center;
}

.detailed-listings-details {
    text-align: right;
}

.image1 {
    display: inline-block;
    margin-left: 5px;
    width: 610px;
    height: 300px;
    background: rgb(130, 224, 217);
}

.image2 {
    display: inline-block;
    margin-left: 5px;
    width: 200px;
    height: 200px;
    background: rgb(171, 125, 197);
}

.image3 {
    display: inline-block;
    margin-left: 5px;
    width: 250px;
    height: 250px;
    background: rgb(216, 117, 117);
}

.detailed-listing-image {
    display: flex;
}

.detailed-listing-image h3 {
    display: flex;
    align-items: center;
}

.detailed-listing-thumbnail-upload {
    flex: 1;
}

.detailed-listing-image-upload {
    flex: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
  
.inner-1 {
    border-right: 1px solid black;
}

.right {
    height: auto;
    width: 600px;
    overflow-y: scroll;
}
  
.left {
    border-right: 1px solid black;
    height: auto;
    width: 900px;
    overflow-y: scroll;
}

.insert-line {
    background: black;
    width: auto;
    height: 1px;
    border: "none";
}

.td {
    border: 1px solid black;
    padding: 10px;
}

.button-style {
    background-color: rgba(151, 195, 220, 0.712);
    border: 2px solid rgb(96, 97, 104);
    color: black;
    padding: 5px 5px;
    display: inline-block;
    border-radius: 8px;
}

.button-style:hover {
    background-color: rgba(151, 195, 220, 0.712);
    color: white;
}

#property-listing-img-td {
    padding: 0px;
}

.property-listing-img-container {
    width: 200px;
    height: 112.5px;
}

.link-indicator {
    color: rgb(55, 100, 224);
    text-decoration: underline 2px rgb(55, 100, 224);
}

.edit-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.edit-popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
}

.button:disabled,
button[disabled] {
    background-color: black;
    color: aliceblue;
}

button[disabled]:hover {
    background-color: black;
    color: aliceblue;
}