body {
    background-color: #a4d4ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.showings-row a:link {
    text-decoration: none;
    color: black;
}


a:visited {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:focus {
    text-decoration: underline;
    color: black;
}

a:active {
    text-decoration: underline;
    color: black;
}

button {
    font-family : inherit;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}